*{
    margin: 0%;
    padding: 0;
}
.contenedorinicio{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image:url("../../../../../assets/img/foto_home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;   
}
.contenedor-texto {
    align-items: center;
}
@font-face {
    font-family: fuenteTitulo;
    src: url("../../../../../fuentes/Playball/Playball-Regular.ttf");    
  }
  @font-face {
    font-family: fuenteDescripcion;
    src: url("../../../../../fuentes/WorkSans/WorkSans-Italic-VariableFont_wght.ttf");    
  }
  .letratitulo{
    font-family: fuenteTitulo;
    font-size: 40px;
    font-weight: 100rem;
  }
  .letradescripcion{
    font-family: fuenteDescripcion;
  }
  
.tarjetita{
  z-index: -40;
}