.fondo_home { 
  background-image: url(../src/assets/img/foto_home.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e7f6a8;
}
